.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.photo-box {
  width: 300px;
  height: 300px;
}

.photo-card {
  display:  inline-block;
  margin: 10px;
  background-color: whitesmoke;
}

body {
  background-color: slategray;
}

.photo-bar {
  background-color: black;
}

.photo-form {
  display: inline-block;
  padding: 20px;
}

.card-content {
  height: 325;
}

.gallery-tabletop {
  background-color: sienna;
}